<!DOCTYPE html>
<html>

<head>
  <title>Pelaajan lisäys</title>
</head>


<body>

  <p><a href="/">Takaisin etusivulle</a></p>
 
  <p><b>Uuden pelaajan lisääminen</b></p>

  {% if session.user_id %}

  <form action="/result" method="post">
    <p>Pelaajan etunimi: <br />
      <textarea name="firstname" rows="1" cols="50"></textarea>
    </p>
    <p>Pelaajan sukunimi: <br />
      <textarea name="surname" rows="1" cols="50"></textarea>
    </p>
    <p>Mahdolliset ulkopeliroolit:</p>
    <p>
      <input type="checkbox" name="defence_position" value="pitcher|Lukkari" /> Lukkari
      <input type="checkbox" name="defence_position" value="frontfield|Etukenttä" /> Etukenttä
      <input type="checkbox" name="defence_position" value="midfield|Polttolinja" /> Polttolinja
      <input type="checkbox" name="defence_position" value="baseman|Pesävahti" /> Pesävahti
      <input type="checkbox" name="defence_position" value="outfielder|Takakenttä" /> Takakenttä
    </p>
      <p>Luontevimmat sisäpeliroolit:</p>
    <p>
      <input type="checkbox" name="batting_role" value="runner|Etenijä" /> Etenijä
      <input type="checkbox" name="batting_role" value="advancehitter|Vaihtaja" /> Vaihtaja
      <input type="checkbox" name="batting_role" value="runhitter|Kotiuttaja" /> Kotiuttaja
      <input type="checkbox" name="batting_role" value="flyhitter|Kopittaja" /> Kopittaja
      <input type="checkbox" name="batting_role" value="joker|Jokeri" /> Jokeri
    </p>
    <p>Vapaaehtoinen teksti tai esittely:<br />
      <textarea name="profile" rows="3" cols="50"></textarea>
    </p>
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="submit" value="Lähetä" />
  </form>
  
  {% endif %}
</body>



</html>
