{% extends "layout.html" %}

{% block title %}Pelaajapörssi - etsi pelaaja{% endblock %}

{% block content %}

<h2>Etsi pelaaja</h2>

{% for message in get_flashed_messages() %}
  <p  class="info">
    <b>{{ message }}</b>
  </p>
{% endfor %}

{% if session.user_id %}

<form action="/find_player" method="GET">
  <p>Hakusana (nimestä tai profiilitekstistä): <br />
    <input type="text" name="query" size="35" maxlength="100" value="{{query}}">
  </p>

  <input type="submit" value="Etsi" />
</form>

{% endif %}

{% if query %}
<p><b>Tulokset</b></p>

<ul>
  {% for player in results %}
  <li> <a href="/player/{{ player.id }}" >{{ player.name }}</a>   {{ player[2] if player[2] is not none else '' }} </li>
{% else %}
  <li>Tuloksia ei löytynyt.</li>
  {% endfor %}
</ul>
{% endif %}

{% endblock %}
