<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Pelaajapörssi</title>
</head>

<body>

{% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
{% endfor %}

{% if session.user_id %}
  <p>
    Kirjautunut: <a href="/user/{{ session.user_id }}"> {{ session.username }} </a> | <a href="/logout">Kirjaudu ulos</a>
  </p>
  </p>  <a href="/players">Pelaajat</a>
        <a href="/add_player">Lisää pelaaja</a> |
        <a href="/find_player">Etsi pelaajia</a> |
        Tulossa: <a href="/teams">Joukkueet</a>
  </p>
  {% else %}
  <p>
     <form action="/login" method="post">
        Tunnus: <input type="text" name="username" /> 
        Salasana: <input type="password" name="password" />
        <input type="submit" value="Kirjaudu" />
      </form>
   </p>
   <p>
      <a href="/register">Luo tunnus</a>
   </p>
  {% endif %}

  <h1>Pelaajapörssi - Pesisjoukkuetta tai -pelaajaa vailla?</h1>
  <p>{{ message }}</p>
  <ul>
    {% for item in items %}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>

</body>

</html>