<!DOCTYPE html>
<html>

<head>
  <title>Pelaajapörssi</title>
</head>

<body>

{% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
{% endfor %}

{% if session.username %}
  <p>
    Olet kirjautunut nimellä {{ session.username }}
  </p>
  <p>
    <a href="/logout">Kirjaudu ulos</a>
  </p>
  {% else %}
  <form action="/login" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password" />
    </p>
    <input type="submit" value="Kirjaudu" />
  </form>

  <p><a href="/register">Rekisteröi tunnus</a></p>
  
  {% endif %}

  <h1>Pelaajapörssi - Pesisjoukkuetta tai -pelaajaa vailla?</h1>
  <p>{{ message }}</p>
  <ul>
    {% for item in items %}
    <li>{{ item }}</li>
    {% endfor %}
  </ul>

{% if session.username %}

<p><a href="/add_player">Haluatko lisätä pelaajan?</a></p>

<p><a href="/players">Palvelussa olevat pelaajat</a></p>

<p><a href="/find_player">Etsi pelaajia</a></p>

<p><b>Tuleva ominaisuus:</b></p>

<p><a href="/teams">Palvelussa olevat joukkueet</a></p>

  {% else %}
  {% endif %}

</body>

</html>