<!DOCTYPE html>
<html>

<head>
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="/static/main.css">
</head>

<body>
  <div class="header">
    <h1>Pelaajapörssi</h1>
  </div>

  <div class="nav">
      <nav>
      {% if session.user_id %}
        <p>
          <ul>
            <li><a href="/">Etusivu</a></li>
            <li><a href="/players">Pelaajat</a></li>
            <li><a href="/add_player">Lisää pelaaja</a></li>
            <li><a href="/find_player">Etsi pelaajia</a></li>
            <li>Tulossa: <a href="/teams">Joukkueet</a></li>
            <li>Kirjautunut: <a href="/user/{{ session.user_id }}"> {{ session.username }} </a></li>
            <li><a href="/logout">Kirjaudu ulos</a></li>
          </ul>
        </p>
      
      {% else %}
        <p>
          <ul>
            <li><a href="/">Etusivu</a></li>
            <li>
              <form action="/login" method="post">
                  Tunnus: <input type="text" name="username" /> 
                  Salasana: <input type="password" name="password" />
                  <input type="submit" value="Kirjaudu" />
              </form>
            </li>
            <li><a href="/register">Luo tunnus</a></li>
          </ul>
        </p>
      </nav>
      {% endif %}
  </div>

  <div class="content">
    {% block content %}{% endblock %}
  </div>
</body>

</html>
