<!DOCTYPE html>
<html>

<head>
  <title>Pelaajapörssi: palvelussa olevat pelaajat</title>
</head>

<body>
    <p><a href="/">Takaisin etusivulle</a></p>

{% if session.user_id %}
     <p><a href="/find_player">Etsi pelaaja</a></p>
<p><b>Palvelussa olevat pelaajat</b>
</p>

<p>
    Pelaajien määrä: {{ count }}
  </p>
  <hr />
  
  <ul>
  {% for player in all_players %}
  <p>
  <li> <a href="/player/{{ player.id }}" >{{ player.name }}</a>  {{ player[2] if player[2] is not none else '' }} </li>
  </p>

  {% endfor %}
  </ul>

{% endif %}
 </body>

</html>