{% extends "layout.html" %}

{% block title %}Pelaajapörssi - pelaajat{% endblock %}

{% block content %}

<h2>Palvelussa olevat pelaajat</h2>

{% for message in get_flashed_messages() %}
  <p  class="info">
    <b>{{ message }}</b>
  </p>
{% endfor %}

{% if session.user_id %}
     <p><a href="/find_player">Etsi pelaaja</a></p>
<p><b>Palvelussa olevat pelaajat</b>
</p>

<p>
    Pelaajien määrä: {{ count }}
  </p>
  <hr />
  
  <ul>
  {% for player in all_players %}
  <p>
  <li> <a href="/player/{{ player.id }}" >{{ player.name }}</a>  {{ player[2] if player[2] is not none else '' }} </li>
  </p>

  {% endfor %}
  </ul>

{% endif %}

{% endblock %}