<!DOCTYPE html>
<html>

<head>
  <title>Rekisteröinti</title>
</head>

<body>

  <p><a href="/">Takaisin etusivulle</a></p>

  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}


  <form action="/create" method="post">
    <p>
      Tunnus: <br />
      <input type="text" name="username" />
    </p>
    <p>
      Salasana: <br />
      <input type="password" name="password1" />
    </p>
    <p>
      Salasana uudestaan: <br />
      <input type="password" name="password2" />
    </p>
    <input type="submit" value="Luo tunnus" />
  </form>
</body>

</html>
