<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <title>Pelaajan poisto</title>
</head>

<body>

  <p><a href="/">Takaisin etusivulle</a></p>
 
  <p><b>Pelaajan poistaminen</b></p>

  {% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
  {% endfor %}

  {% if session.user_id %}

  <form action="/remove_player/{{player.id}}" method="post">

    <p> Pelaaja: {{player.name}}</p>
    <p> Haluatko varmasti poistaa tämän pelaajan?</p>
   
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    
    <input type="submit" name="back" value="Palaa takaisin" />
    <input type="submit" name="remove" value="Poista pelaaja" />
    
  </form>
  
  {% endif %}
</body>

</html>
