{% extends "layout.html" %}

{% block title %}Pelaajapörssi - pelaajan poisto {{player.name}}{% endblock %}

{% block content %}

<h2>Pelaajan poistaminen</h2>

{% for message in get_flashed_messages() %}
  <p  class="info">
    <b>{{ message }}</b>
  </p>
{% endfor %}

{% if session.user_id %}

<form action="/remove_player/{{player.id}}" method="post">

  <p> Pelaaja: {{player.name}}</p>
  <p> Haluatko varmasti poistaa tämän pelaajan?</p>
  
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="submit" name="back" value="Palaa takaisin" />
  <input type="submit" name="remove" value="Poista pelaaja" />
  
</form>

{% endif %}

{% endblock %}
