{% extends "layout.html" %}

{% block title %}Pelaajapörssi - Käyttäjätiedot{% endblock %}

{% block content %}

{% if session.user_id == user.id %}
<H2> Sinun käyttäjäsivusi</H2>
{% else %}
<H2> Käyttäjä {{user.username}} </H2> 
{% endif %}

{% for message in get_flashed_messages() %}
  <p  class="info">
    <b>{{ message }}</b>
  </p>
{% endfor %}

<H3> Käyttäjänimi: {{user.username}} </H3>

{% if session.user_id == user.id %}
<p>Olet lisännyt yhteensä {{ players|length}} pelaajaa.</p>
<b>Lisäämäsi pelaajat:</b>

{% else %}
<p>Käyttäjä lisännyt yhteensä {{ players|length}} pelaajaa.</p>

<b>Käyttäjän lisäämät pelaajat:</b>
{% endif %}

<ul>
{% for player in players%}
   <li> <a href="/player/{{ player.id }}" >{{ player.name }}</a>   {{ player[2] if player[2] is not none else '' }} </li>

{% else %}
  <li>Ei lisättyjä pelaajia.</li>
    
{% endfor %}
</ul>

{% endblock %}
