<!DOCTYPE html>
<html>

<head>
  <title> {{player.name}}</title>
</head>

<body>
    
  <p><a href="/">Takaisin etusivulle</a> <a href="/players">Palvelussa olevat pelaajat</a> <a href="/teams">Palvelussa olevat joukkueet</a></p>

{% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
{% endfor %}

<p>
  <b>{{player.name}}</b>
  <p>Lisännyt: <a href="/user/{{ player.user_id }}"> {{ user.username }} </a></p>
</p>

{% if session.user_id == player.user_id %}

<p>
  <a href="/edit_player/{{ player.id }}"> Muokkaa </a>
  <a href="/remove_player/{{ player.id }}"> Poista </a>
</p>

{% endif %}

<p>Vakavuusaste: {{seriousness.seriousness}}</p>

Mahdolliset ulkopeliroolit:
<ul>
{% for row in def_roles%}
   <li>{{row['role_name_fi']}}</li> 
    
{% endfor %}
</ul>

Mahdolliset sisäpeliroolit:
<ul>
{% for row in bat_roles%}
   <li>{{row['role_name_fi']}}</li> 
    
{% endfor %}
</ul>

<p>Esittely:</p>

{{ player.profile}}

</body>

</html>
