<!DOCTYPE html>
<html>

<head>
  <link rel="stylesheet" href="/static/main.css">
  <title> {{player.name}}</title>
</head>

<body>
    
  <p><a href="/">Takaisin etusivulle</a> <a href="/players">Palvelussa olevat pelaajat</a> <a href="/teams">Palvelussa olevat joukkueet</a></p>

{% for message in get_flashed_messages() %}
  <p>
    <b>{{ message }}</b>
  </p>
{% endfor %}

<p>
  <b>{{player.name}}</b> Lisännyt: <a href="/user/{{ player.user_id }}"> {{ user.username }} </a>
</p>

{% if session.user_id == player.user_id %}

<p>
  <a href="/edit_player/{{ player.id }}"> Muokkaa </a>
  <a href="/remove_player/{{ player.id }}"> Poista </a>
</p>

{% endif %}
<p>
{% if classes %}
  {% for class in classes %}
  <li>{{ class.title}}: {{ class.value }}</li>
  {% endfor %}
{% endif %}
</p>


{% for role_type in all_roles %}
  Mahdolliset {{ role_type }}:
    <ul>
    {% for role in roles %}
      {% if role['role_type'] == role_type %}
      <li> {{ role['role_name'] }}</li>
      {% endif %}
    
    {% endfor %}
    </ul>
  {% endfor %}

<p>Esittely:</p>

{{ player.profile}}

<form action="/suggest_idea" method="post">

<p><b>Ehdotus pelaajalle</b></p>

{% for contact in contacts %}
  
    {{ contact }}:
    <select name="contact" id="contact{{ contact }}">
      <option value="">(valitse)</option>
    {% for option in contacts[contact] %}
      <option value="{{ contact }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  
    {% endfor %}

{% for idea in ideas %}
  
    {{ idea }}:
    <select name="ideas" id="idea{{ idea }}">
      <option value="">(valitse)</option>
    {% for option in ideas[idea] %}
      <option value="{{ idea }}:{{ option }}">{{ option }}</option>
    {% endfor %}
    </select>
  
    {% endfor %}

  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
  <input type="hidden" name="player_id" value="{{ player.id }}" />
  <input type="submit" value="Ehdota" />
 
 </form>

 <p></p>

 {% if player_ideas %}

{% for idea in player_ideas %}
  <li>Ehdotus käyttäjältä <a href="/user/{{ idea.user_id }}"> {{ idea.username }} </a> : {{ idea.contact_type}} => {{idea.value}}
  {% if idea.user_id == session.user_id %}
  <form action="/remove_idea/{{ idea.id }}" class="inline-form" method="post">
    <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}" />
    <input type="hidden" name="player_id" value="{{ player.id }}" />
    <input type="submit" name="remove" value="Poista" />
  </li>
  {% endif %} 
  
  {% endfor %}
   {% else %}
   <li>Ei ehdotuksia</li>
  {% endif %}

</body>

</html>